<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.foody.food.mapper.FoodMapper">
	<resultMap id="foodResultMap" type="Food">
		<id column="code" property="code" />

		<result column="name" property="name" />
		<result column="category" property="category" />
		<result column="standard" property="standard" />
		<result column="kcal" property="kcal" />

		<result column="carb_g" property="carb" />
		<result column="protein_g" property="protein" />
		<result column="fat_g" property="fat" />
		<result column="sugar_g" property="sugar" />
		<result column="natrium_g" property="natrium" />
	</resultMap>

	<select id="selectFoodList" resultMap="foodResultMap">
		SELECT
		code, name, category, standard, kcal,
		carb_g,
		protein_g,
		fat_g,
		sugar_g,
		natrium_g
		FROM foods

		<where>
			<if test="keyWord != null and keyWord != ''">
				AND name LIKE CONCAT('%', #{keyWord}, '%')
			</if>
			<if test="category != null and category != ''">
				AND category LIKE CONCAT('%', #{category}, '%')
			</if>
		</where>

		ORDER BY name ASC

		LIMIT #{limit} OFFSET #{offset}

	</select>

	<select id="findFoodByCode" resultMap="foodResultMap">
		SELECT
		code, name, category, standard, kcal,
		carb_g, protein_g, fat_g, sugar_g, natrium_g
		FROM foods
		WHERE code = #{code}
	</select>

	<insert id="saveUserFood"
		parameterType="UserFood"
		useGeneratedKeys="true" keyProperty="code">
		INSERT INTO user_foods (
		regist_user_id, name, standard,
		kcal, carb_g, protein_g, fat_g, sugar_g, natrium_g,
		created_at
		) VALUES (
		#{registUserId}, #{name}, #{standard},
		#{kcal}, #{carb}, #{protein}, #{fat}, #{sugar}, #{natrium},
		NOW()
		)
	</insert>

</mapper>