<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.foody.food.mapper.FoodMapper">
	<resultMap id="foodResultMap" type="Food">
		<id column="code" property="code" />

		<result column="name" property="name" />
		<result column="category" property="category" />
		<result column="standard" property="standard" />
		<result column="kcal" property="kcal" />

		<result column="carb_g" property="carb" />
		<result column="protein_g" property="protein" />
		<result column="fat_g" property="fat" />
		<result column="sugar_g" property="sugar" />
		<result column="natrium_g" property="natrium" />
	</resultMap>

	<select id="selectFoodList" resultMap="foodResultMap">
		SELECT
		code, name, category, standard, kcal,
		carb_g,
		protein_g,
		fat_g,
		sugar_g,
		natrium_g
		FROM foods

		<where>
			<if test="keyword != null and keyword != ''">
				AND name LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="category != null and category != ''">
				AND category LIKE CONCAT('%', #{category}, '%')
			</if>
		</where>

		ORDER BY name ASC

		LIMIT #{limit} OFFSET #{offset}

	</select>

	<select id="findFoodByCode" resultMap="foodResultMap">
		SELECT
		code, name, category, standard, kcal,
		carb_g, protein_g, fat_g, sugar_g, natrium_g
		FROM foods
		WHERE code = #{code}
	</select>

	<insert id="saveUserFood"
		parameterType="UserFood"
		useGeneratedKeys="true" keyProperty="code">
		INSERT INTO user_foods (
		regist_user_id, name, standard,
		kcal, carb_g, protein_g, fat_g, sugar_g, natrium_g,
		created_at
		) VALUES (
		#{registUserId}, #{name}, #{standard},
		#{kcal}, #{carb}, #{protein}, #{fat}, #{sugar}, #{natrium},
		NOW()
		)
	</insert>
	
	<insert id="insertFavorite" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO favorites (user_id, food_code, user_food_code)
        VALUES (
            #{userId}, 
            #{foodCode}, #{userFoodCode} )
    </insert>
    
    <delete id="deleteFavorite">
        DELETE FROM favorites WHERE id = #{favoriteId}
    </delete>
    
    <select id="checkFavoriteExists" resultType="Integer">
        SELECT id FROM favorites
        WHERE user_id = #{userId}
        <if test="foodCode != null"> AND food_code = #{foodCode} </if>
        <if test="userFoodCode != null"> AND user_food_code = #{userFoodCode} </if>
        LIMIT 1
    </select>
    
    <select id="selectFavoriteList" resultType="FavoriteResponse">
        SELECT 
            fav.id AS favoriteId,
            fav.food_code AS foodCode,
            NULL AS userFoodCode,
            f.name, f.standard, f.kcal, f.carb_g AS carb, f.protein_g AS protein, f.fat_g AS fat, f.sugar_g AS sugar, f.natrium_g AS natrium
        FROM favorites fav
        JOIN foods f ON fav.food_code = f.code
        WHERE fav.user_id = #{userId}

        UNION ALL

        SELECT 
            fav.id AS favoriteId,
            NULL AS foodCode,
            fav.user_food_code AS userFoodCode,
            uf.name, uf.standard, uf.kcal, uf.carb_g AS carb, uf.protein_g AS protein, uf.fat_g AS fat, uf.sugar_g AS sugar, uf.natrium_g AS natrium
        FROM favorites fav
        JOIN user_foods uf ON fav.user_food_code = uf.code
        WHERE fav.user_id = #{userId}
    </select>
    
    <insert id="addFood">
    	INSERT INTO foods(code, name, category, standard, kcal, carb_g, protein_g, fat_g, sugar_g, natrium_g)
    	VALUES (
    	#{code}, #{name}, #{category}, #{standard}, #{kcal}
    	, #{carb}, #{protein}, #{fat}, #{sugar}, #{natrium})
    </insert>
    
    <delete id="deleteFoodByCode">
    	DELETE FROM foods
    	WHERE code = #{code}
    </delete>

</mapper>