<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.foody.admin.mapper.AdminUserMapper">

    <update id="updateUserRole">
        UPDATE users
        SET role = CASE
            WHEN role = 'ROLE_ADMIN' THEN 'ROLE_USER'
            WHEN role = 'ROLE_USER'  THEN 'ROLE_ADMIN'
            WHEN role = 'ROLE_GUEST'  THEN 'ROLE_ADMIN'
        END
        WHERE id = #{userId}
    </update>

</mapper>
